
@media (max-width: 575px){
	[class*="col-"]{
		width: 100%;
	}
	

}



@media (min-width: 200px) and (max-width: 350px) {
	[class*="col-"]{
		width: 100%;
	}

}

@media (min-width: 351px) and (max-width: 389px) {
	[class*="col-"]{
		width: 100%;
	}
	
}

@media (min-width: 390px) and (max-width: 575px) {
	[class*="col-"]{
		width: 100%;
	}

}


@media (min-width: 576px) and (max-width: 767px) {
	[class*="col-"]{
		width: 100%;
	}

}
@media (min-width: 768px) and (max-width: 991px){
	[class*="col-"]{
		width: 100%;

	}
	


}
@media (min-width: 992px) and (max-width: 1199px){
	[class*="col-"]{
		width: 100%;
	}
	

}
